<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"> <i class="fa fa-map-signs" aria-hidden="true"></i>      Duzz!</h1>
    <p class="lead text-muted">Todos los eventos en los mejores restaurantes y bares de <b>tú</b> ciudad.</p>
    <p>
      <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i> Entrar con Facebook</a>
      <a routerLink="/lugares" class="btn btn-success">Descubrir lugares</a>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>

      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img src="https://fakeimg.pl/365x365/" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

  </div>
</div>

