<div class="container">    
  <div class="row">
    <div class="page-header">
      <h1>Lugares <small>Autlán</small></h1>
    </div>    
    <div class="col-md-6">
        <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
          </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        
          <h1 class="display-3">La cabaña</h1>
          <p class="">Un restaurant mixto a las afueras de la ciudad.</p>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <button type="button" class="btn btn-secondary" autofocus="autofocus"><i class="fa fa-info-circle"></i> Información</button>
              <button type="button" class="btn btn-secondary"><i class="fa fa-book"></i> Reservar</button>
              <button type="button" class="btn btn-secondary"><i class="fa fa-phone"></i> Llamar</button>
              <button type="button" class="btn btn-secondary"><i class="fa fa-car"></i> Dirección</button>
              <button type="button" class="btn btn-secondary"><i class="fa fa-gift"></i> Promociones</button>              
          </div>
          <div id="" class="hidden">
            <p>
              Una caña de esta
            </p>
          </div>
          <div class="hidden">

          </div>
          
      </div>
    </div>
  </div>
</div>